<!DOCTYPE = html>
<html>
  <head>
    <style>
      body{background: #239b56 ; font-family: verdana; color: #fff; padding: 30-px; }
      h1{font-size: 40px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      p{font-size: 16px; text-align: center}
    </style>
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>Successfully sent!</h1>
    <p>You contacted <%= data.who %> in the <%= data.dept %> department</p>
    <p>We will get back to you soon at <%= data.email %></p>
    </body>
</html>
