<html>
  <head>
    <link href = "/assets/styles.css" rel = "stylesheet" type = "text/css" />
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to my personal website</h1>
    <p>My name is Vilas. This place will be developed soon ;)</p>
  </body>
</html>
